.gridContainer {
  background: #eee;
  max-width: 1200px;
  margin: 15px auto;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  gap: 36px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.gridContainer > div {
  display: grid;
  align-content: space-between;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 16px;
  background: #dcdcdc;
}

.locationItem {
  text-decoration: none;
  color: #000;
}

.locationTitle {
  font-size: 24px;
  font-weight: 1024;
  font-style: italic;
  font-family: "Shantell";
}

.adress {
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.locationPicture {
  height: 200px;
  margin-bottom: 16px;
  width: 100%;
}

.fishList {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.fishItem {
  margin-bottom: 8px;
  font-family: "PlayfairDisplay";
}
