<h1>Form send {{msg}}</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h4>Email sent by {{name}}</h4>
<h4>Contact email: {{email}}</h4>